* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Mulish";
    scroll-behavior: smooth;
}

#dropdown {
    position: absolute;
    inset: auto auto 0px 0px;
    margin: 0px;
    transform: translate3d(821.333px, 1495.33px, 0px);
}

@tailwind base;
@tailwind components;
@tailwind utilities;